<% content_for :title do %>
Documenti da rivedere
<% end%>

<% content_for :link do %>
<a href="<%= account_notification_url(@notification) %>" class="btn-primary">Verifica documenti</a>
<% end%>

<p>
	Ci spiace comunicarti che, a seguito delle verifiche effettuate, è necessario aggiornare uno o più documenti riguardanti la tua azienda.
</p>

<p>
	Clicca subito il pulsante per verificarli
</p>