<% content_for :title do %>
Il tuo profilo è stato attivato
<% end%>

<% content_for :link do %>
<a href="<%= account_url %>" class="btn-primary">Accedi al Portale</a>
<% end%>

<p>
	Congratulazioni! Il tuo profilo sul portale AVQ Servizi &egrave; ora attivo!
</p>
<p>
	Da questo momento potrai ricevere richieste dal portale, buon lavoro!
</p>
