<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12 col-sm-12 mb-2">
            <h4>Metodi di pagamento accettati</h4>
        </div>
        <div class="col-lg-12 col-sm-12 mb-3">
            I metodi di pagamento utilizzabili per l'acquisto degli abbonamenti Basic e Premium, oppure per l'acquisto di Crediti, sono <strong>bonifico bancario</strong> e tutte le <strong>carte di debito/credito Visa, Mastercard, American Express</strong>, così come le carte ricaricabili accettate da <strong>Paypal</strong>.
        </div>
        <div class="col-lg-12 col-sm-12 mb-4">    
          <img height="40" class="mr-3" src="https://shoplineimg.com/assets/footer/card_visa.png"/>
          <img height="40" class="mr-3" src="https://shoplineimg.com/assets/footer/card_master.png"/>
          <img height="40" class="mr-3" src="https://shoplineimg.com/assets/footer/card_paypal.png"/>
          <img height="40" class="mr-3" src="https://shoplineimg.com/assets/footer/card_amex.png"/>
        </div>        
    </div>
</div>