<h6 class="mb-2"><strong>Termini e Condizioni di Vendita Online</strong></h6>
<div class="card mb-4">	
  <div class="card-block" style="height: 250px; overflow-y: scroll;">
  	<div class="m-3">
  		<small>
		<strong>L’Acquirente dichiara espressamente di aver letto e di accettare i seguenti Termini e Condizioni di Vendita Online</strong>
		<br />
		Identificazione del Fornitore<br />
		I beni oggetto delle presenti condizioni generali sono posti in vendita da AVQ Servizi con sede in Corso Trapani n. 136 10138 Torino (TO), iscritta presso la Camera di Commercio di Torino del Registro delle
		Imprese, partita IVA 10957160012 di seguito indicata come “Fornitore”.
		<br />
		Art. 1<br />
		Definizioni<br />
		1.1. Con l’espressione “contratto di vendita on line”, si intende il contratto di compravendita relativo ai
		beni digitali del Fornitore, stipulato tra questi e l’Acquirente consumatore nell’ambito di un
		sistema di vendita a distanza tramite strumenti telematici, organizzato dal Fornitore.<br />
		1.2. Con l’espressione “Acquirente consumatore” si intende il consumatore persona fisica o giuridica che compie
		l’acquisto, di cui al presente contratto, per scopi non riferibili all’attività commerciale o professionale
		eventualmente svolta. Diverso è l' "Acquirente impresa", che compie acquisti per conto dell'attività
		commerciale o professionale eventualmente svolta.<br />
		1.3. Con l’espressione “Fornitore” si intende il soggetto indicato in epigrafe ovvero il soggetto prestatore
		dei servizi di informazione.<br />
		Art. 2<br />
		Oggetto del contratto<br />
		2.1. Con il presente contratto, rispettivamente, il Fornitore vende e l’Acquirente consumatore o Acquirente impresa acquistano a distanza tramite strumenti telematici i beni digitali indicati e offerti in vendita sul
		sito https://www.avqservizi.it<br />
		Art. 3<br />
		Modalità di stipulazione del contratto<br />
		3.1. Il contratto tra il Fornitore e l’Acquirente consumatore o Acquirente impresa si conclude esclusivamente attraverso la rete Internet mediante l’accesso dell’Acquirente all’indirizzo https://www.avqservizi.it, ove,
		seguendo le procedure indicate, l’Acquirente arriverà a formalizzare la proposta per l’acquisto dei beni il contratto per l’acquisto dei beni di cui al punto 2.1 del precedente articolo.<br />
		Art. 4<br />
		Conclusione ed efficacia del contratto<br />
		4.1. Il contratto di acquisto si conclude mediante l’esatta compilazione del modulo di richiesta e il
		consenso all’acquisto manifestato tramite l’adesione inviata on line ovvero con la compilazione del
		form/modulo allegato al catalogo elettronico on line all’indirizzo https://www.avqservizi.it e il successivo
		invio del form/modulo stesso, sempre previa visualizzazione di una pagina web di riepilogo dell’ordine,
		stampabile, nella quale sono riportati gli estremi dell’ordinante e dell’ordinazione, il prezzo del bene
		acquistato, le eventuali spese di spedizione e gli eventuali ulteriori oneri accessori, le modalità e i termini di
		pagamento, l’indirizzo ove il bene verrà consegnato, i tempi della consegna e l’esistenza del diritto di
		recesso.<br />
		4.2. Nel momento in cui il Fornitore riceve dall’Acquirente l’ordinazione, esso provvede all’invio
		di una e-mail di conferma oppure alla visualizzazione di una pagina web di conferma e riepilogo
		dell’ordine, stampabile, nella quale siano anche riportati i dati richiamati nel punto precedente.<br />
		4.3. Il contratto non si considera perfezionato ed efficace fra le parti in difetto di quanto indicato al punto
		precedente.<br />
		Art. 5<br />
		Modalità di pagamento e rimborso<br />
		5.1. Ogni pagamento da parte dell’Acquirente potrà avvenire unicamente per mezzo di uno dei metodi indicati nell’apposita pagina web dal Fornitore.<br />
		5.2. Ogni eventuale rimborso all’Acquirente verrà accreditato mediante una delle modalità
		proposte dal Fornitore e scelta dall’Acquirente, in modo tempestivo e, in caso di esercizio
		del diritto di recesso, così come disciplinato dall’art. 13, punto 2 e ss. del presente contratto, al
		massimo entro 30 giorni dalla data in cui il Fornitore è venuto a conoscenza del recesso stesso.<br />
		5.3. Tutte le comunicazioni relative ai pagamenti avvengono su un’apposita linea del Fornitore protetta
		da sistema di cifratura. Il Fornitore garantisce la memorizzazione di queste informazioni con un ulteriore
		livello di cifratura di sicurezza e in ossequio di quanto previsto dalla vigente disciplina in materia di
		tutela dei dati personali.<br />
		Art. 6<br />
		Tempi e modalità della consegna<br />
		6.1. Il Fornitore provvederà a recapitare i prodotti selezionati e ordinati, con le modalità scelte
		dall’Acquirente o indicate sul sito web al momento dell’offerta del bene, così come confermate nella e-mail di cui al punto<br />
		Art. 7<br />
		Prezzi<br />
		7.1. Tutti i prezzi di vendita dei prodotti esposti e indicati all’interno del sito<br />
		Internet https://www.avqservizi.it sono espressi in euro e costituiscono offerta al pubblico ai sensi
		dell’art. 1336 c.c.<br />
		7.2. I prezzi di vendita, di cui al punto precedente, sono comprensivi di IVA e di ogni eventuale altra
		imposta. I costi di spedizione e gli eventuali oneri accessori (ad es. sdoganamento), se presenti, pur
		non ricompresi nel prezzo di acquisto, devono essere indicati e calcolati nella procedura di acquisto
		prima dell’inoltro dell’ordine da parte dell’Acquirente consumatore e altresì contenuti nella pagina web
		di riepilogo dell’ordine effettuato.<br />
		7.3. I prezzi indicati in corrispondenza di ciascuno dei beni offerti al pubblico hanno validità fino alla
		data indicata nel catalogo.<br />
		Art. 8<br />
		Disponibilità dei prodotti<br />
		8.1. Il Fornitore assicura tramite il sistema telematico utilizzato l’elaborazione ed evasione degli ordini
		senza ritardo. A tale scopo indica in tempo reale, nel proprio catalogo elettronico, il numero dei prodotti
		disponibili e quelli non disponibili, nonché i tempi di spedizione.<br />
		8.2. Qualora un ordine dovesse superare la quantità esistente nel magazzino, il Fornitore, tramite email, renderà noto all’Acquirente se il bene non sia più prenotabile ovvero quali siano i tempi di attesa per ottenere il bene scelto, chiedendo se intende confermare l’ordine o meno.<br />
		8.3. Il sistema informatico del Fornitore conferma nel più breve tempo possibile l’avvenuta registrazione
		dell’ordine inoltrando all’Utente una conferma per posta elettronica, ai sensi del punto 4.2.<br />
		Art. 9<br />
		Limitazioni di responsabilità<br />
		9.1. Il Fornitore non assume alcuna responsabilità per disservizi imputabili a causa di forza maggiore
		nel caso non riesca a dare esecuzione all’ordine nei tempi previsti dal contratto.<br />
		9.2. Il Fornitore non potrà ritenersi responsabile verso l’Acquirente, salvo il caso di dolo o
		colpa grave, per disservizi o malfunzionamenti connessi all’utilizzo della rete Internet al di fuori del
		controllo proprio o di suoi subfornitori.<br />
		9.3. Il Fornitore non sarà inoltre responsabile in merito a danni, perdite e costi subiti dall’Acquirente
		a seguito della mancata esecuzione del contratto per cause a lui non imputabili, avendo
		l’Acquirente consumatore diritto soltanto alla restituzione integrale del prezzo corrisposto e degli
		eventuali oneri accessori sostenuti.<br />
		9.4. Il Fornitore non assume alcuna responsabilità per l’eventuale uso fraudolento e illecito che possa
		essere fatto da parte di terzi, delle carte di credito, assegni e altri mezzi di pagamento, per il pagamento
		dei prodotti acquistati, qualora dimostri di aver adottato tutte le cautele possibili in base alla miglior
		scienza ed esperienza del momento e in base all’ordinaria diligenza.<br />
		9.5. In nessun caso l’Acquirente consumatore potrà essere ritenuto responsabile per ritardi o disguidi
		nel pagamento qualora dimostri di aver eseguito il pagamento stesso nei tempi e modi indicati dal
		Fornitore.<br />
		Art. 10<br />
		Responsabilità da difetto, prova del danno e danni risarcibili: gli obblighi del Fornitore<br />
		10.1. Ai sensi degli artt. 114 e ss. del Codice del consumo, il Fornitore è responsabile del danno
		cagionato da difetti del bene venduto qualora ometta di comunicare al Danneggiato, entro il termine di 3
		mesi dalla richiesta, l’identità e il domicilio del produttore o della persona che gli ha fornito il bene.<br />
		10.2. La suddetta richiesta, da parte del Danneggiato, deve essere fatta per iscritto e deve indicare il
		prodotto che ha cagionato il danno, il luogo e la data dell’acquisto; deve inoltre contenere l’offerta in
		visione del prodotto, se ancora esistente.<br />
		10.3. Il Fornitore non potrà essere ritenuto responsabile delle conseguenze derivate da un prodotto
		difettoso se il difetto è dovuto alla conformità del prodotto, a una norma giuridica imperativa o a un
		provvedimento vincolante, ovvero se lo stato delle conoscenze scientifiche e tecniche, al momento in
		cui il produttore ha messo in circolazione il prodotto, non permetteva ancora di considerare il prodotto
		difettoso.<br />
		10.4. Nessun risarcimento sarà dovuto qualora il Danneggiato sia stato consapevole del difetto del
		prodotto e del pericolo che ne derivava e nondimeno vi si sia volontariamente esposto.<br />
		10.5. In ogni caso il Danneggiato dovrà provare il difetto, il danno, e la connessione causale tra difetto e
		danno.<br />
		Art. 11<br />
		Garanzie e modalità di assistenza<br />
		11.1. Il Fornitore risponde per ogni eventuale difetto di conformità che si manifesti entro il termine di 1
		anno dalla consegna del bene.<br />
		11.2. Ai fini del presente contratto si presume che i beni di consumo siano conformi al contratto se, ove
		pertinenti, coesistono le seguenti circostanze: a) sono idonei all’uso al quale servono abitualmente beni
		dello stesso tipo; b) sono conformi alla descrizione fatta dal Venditore e possiedono le qualità del bene
		che il Venditore ha presentato al Consumatore come campione o modello; c) presentano la qualità e le
		prestazioni abituali di un bene dello stesso tipo, che il Consumatore può ragionevolmente aspettarsi,
		tenuto conto della natura del bene e, se del caso, delle dichiarazioni pubbliche sulle caratteristiche
		specifiche dei beni fatte al riguardo dal Venditore, dal produttore o dal suo agente o rappresentante, in
		particolare nella pubblicità o sull’etichettatura; d) sono altresì idonei all’uso particolare voluto dal
		Consumatore e che sia stato da questi portato a conoscenza del Venditore al momento della conclusione del contratto e che il Venditore abbia accettato anche per fatti concludenti.<br />
		11.3. L’Acquirente consumatore decade da ogni diritto qualora non denunci al Venditore il difetto di
		conformità entro il termine di 1 mese dalla data in cui il difetto è stato scoperto. La denuncia non è
		necessaria se il Venditore ha riconosciuto l’esistenza del difetto o lo ha occultato.<br />
		11.4. In ogni caso, salvo prova contraria, si presume che i difetti di conformità che si manifestano entro
		6 mesi dalla consegna del bene esistessero già a tale data, a meno che tale ipotesi sia incompatibile
		con la natura del bene o con la natura del difetto di conformità.<br />
		11.5. In caso di difetto di conformità, l’Acquirente consumatore potrà chiedere, alternativamente e
		senza spese, alle condizioni di seguito indicate, l'aggiornamento o la sostituzione del bene acquistato,
		una riduzione del prezzo di acquisto o la risoluzione del presente contratto, a meno che la richiesta non
		risulti oggettivamente impossibile da soddisfare ovvero risulti per il Fornitore eccessivamente onerosa
		ai sensi dell’art. 130, comma 4, del Codice del consumo.<br />
		11.6. La richiesta dovrà essere fatta pervenire in forma scritta, a mezzo raccomandata A.R., al
		Fornitore, il quale indicherà la propria disponibilità a dar corso alla richiesta, ovvero le ragioni che gli
		impediscono di farlo, entro 7 giorni lavorativi dal ricevimento.<br />
		Nella stessa comunicazione, ove il Fornitore abbia accettato la richiesta dell’Acquirente,
		dovrà indicare le modalità di spedizione o restituzione del bene nonché il termine previsto per la
		restituzione o la sostituzione del bene difettoso.<br />
		11.7. Qualora la riparazione e la sostituzione siano impossibili o eccessivamente onerose, o il Fornitore
		non abbia provveduto alla riparazione o alla sostituzione del bene entro il termine di cui al punto
		precedente o, infine, la sostituzione o la riparazione precedentemente effettuate abbiano arrecato
		notevoli inconvenienti all’Acquirente consumatore, questi potrà chiedere, a sua scelta, una congrua
		riduzione del prezzo o la risoluzione del
		contratto. L’Acquirente consumatore dovrà in tal caso far pervenire la propria richiesta al Fornitore, il
		quale indicherà la propria disponibilità a dar corso alla stessa, ovvero le ragioni che gli impediscono di
		farlo, entro 7 giorni lavorativi dal ricevimento.<br />
		11.8. Nella stessa comunicazione, ove il Fornitore abbia accettato la richiesta dell’Acquirente, 
		dovrà indicare la riduzione del prezzo proposta ovvero le modalità di restituzione del
		bene difettoso. Sarà in tali casi onere dell’Acquirente indicare le modalità per il riaccredito
		delle somme precedentemente pagate al Fornitore.<br />
		Art. 12<br />
		Obblighi dell’Acquirente<br />
		12.1. L’Acquirente si impegna a pagare il prezzo del bene acquistato nei tempi e modi indicati dal contratto.<br />
		12.2. L’Acquirente si impegna, una volta conclusa la procedura d’acquisto on line, a
		provvedere alla stampa e alla conservazione del presente contratto.<br />
		12.3. Le informazioni contenute in questo contratto sono state, peraltro, già visionate e accettate
		dall’Acquirente, che ne dà atto, in quanto questo passaggio viene reso obbligatorio prima
		della conferma di acquisto.<br />
		Art. 13<br />
		Diritto di recesso<br />
		13.1. L’Acquirente consumatore ha in ogni caso il diritto di recedere dal contratto stipulato, senza
		alcuna penalità e senza specificarne il motivo, entro il termine di 7 (sette) giorni lavorativi,
		decorrente dal giorno del ricevimento del bene acquistato.<br />
		13.2. Nel caso l’Acquirente consumatore decida di avvalersi del diritto di recesso, deve darne
		comunicazione al Venditore a mezzo di raccomandata A.R. all’indirizzo Corso Trapani n. 136, 10138 Torino (TO) o tramite posta elettronica all’e-mail info@avqservizi.it purché tali comunicazioni siano
		confermate dall’invio di raccomandata A.R. all’indirizzo di Corso Trapani n. 136, 10138 Torino (TO)
		entro le 48 (quarantotto) ore successive. Farà fede tra le Parti il timbro apposto dall’ufficio postale sulla 
		ricevuta rilasciata. Ai fini dell’esercizio del diritto di recesso l’invio della comunicazione potrà
		validamente essere sostituito dalla restituzione del bene acquistato, purché nei medesimi termini. Farà
		fede tra le Parti la data di consegna all’ufficio postale o allo spedizioniere.
		13.3. La riconsegna del bene dovrà comunque avvenire al più tardi entro 30 (trenta) giorni dalla data di
		ricevimento del bene stesso. In ogni caso, per aversi diritto al rimborso pieno del prezzo pagato, il bene
		dovrà essere restituito integro e, comunque, in normale stato di conservazione, e non utilizzato nemmeno in modo parziale, ad esempio nel caso di un bene digitale (es: abbonamento a tempo).<br />
		13.4. L’Acquirente consumatore non può esercitare tale diritto di recesso per i contratti di acquisto di
		prodotti audiovisivi o di software informatici sigillati, che sono stati dal medesimo aperti, nonché beni
		confezionati su misura o chiaramente personalizzati o che, per loro natura, non possono essere
		rispediti o rischiano di deteriorarsi o alterarsi rapidamente, di fornitura di giornali, periodici e riviste,
		nonché beni il cui prezzo è legato a fluttuazioni dei tassi del mercato finanziario che il professionista
		non è in grado di controllare e in ogni altro caso previsto dall’art. 55 del Codice del consumo.
		13.5. Le sole spese dovute dal Consumatore per l’esercizio del diritto di recesso a norma del presente
		articolo sono le spese dirette di restituzione del bene al Fornitore, salvo che il Fornitore non accetti di
		accollarsele.<br />
		13.6. Il Fornitore provvederà gratuitamente al rimborso dell’intero importo versato dall’Acquirente
		entro il termine di 30 (trenta) giorni dal ricevimento della comunicazione di recesso.<br />
		13.7. Con la ricezione della comunicazione con la quale l’Acquirente comunica l’esercizio
		del diritto di recesso, le Parti del presente contratto sono sciolte dai reciproci obblighi, fatto salvo
		quanto previsto ai precedenti punti del presente articolo.<br />
		Art. 14<br />
		Cause di risoluzione<br />
		14.1. Le obbligazioni di cui al punto 12.1, assunte dall’Acquirente consumatore, nonché la garanzia del
		buon fine del pagamento che l’Acquirente consumatore effettua con i mezzi di cui al punto 5.1, e altresì
		l’esatto adempimento degli obblighi assunti dal Fornitore al punto 6, hanno carattere essenziale,
		cosicché, per patto espresso, l’inadempimento di una soltanto di dette obbligazioni, ove non
		determinata da caso fortuito o forza maggiore, comporterà la risoluzione di diritto del contratto ex art.
		1456 c.c., senza necessità di pronuncia giudiziale.<br />
		Art. 15<br />
		Tutela della riservatezza e trattamento dei dati dell’Acquirente consumatore<br />
		Rif. Informativa Privacy disponibile all'indirizzo https://www.avqservizi.it/pages/informativa-privacy<br />
		Art. 16<br />
		Modalità di archiviazione del contratto<br />
		16.1. Ai sensi dell’art. 12 del d.lgs. 70/2003, il Fornitore informa l’Acquirente consumatore che ogni
		ordine inviato viene conservato in forma digitale/cartacea sul server/presso la sede del Fornitore stesso
		secondo criteri di riservatezza e sicurezza.<br />
		Art. 17<br />
		Comunicazioni e reclami<br />
		17.1. Le comunicazioni scritte dirette al Fornitore e gli eventuali reclami saranno ritenuti validi
		unicamente ove inviati al seguente indirizzo: AVQ Servizi Corso Trapani n. 136 10138 Torino (TO),
		oppure inviati tramite e-mail al seguente indirizzo info@avqservizi.it. L’Acquirente indica nel
		modulo di registrazione la propria residenza o domicilio, il numero telefonico o l’indirizzo di posta
		elettronica al quale desidera siano inviate le comunicazioni del Fornitore.<br />
		Art. 18<br />
		Composizione delle controversie<br />
		18.1. Tutte le controversie nascenti dal presente contratto verranno deferite alla Camera di Commercio
		di Torino e risolte secondo il Regolamento di conciliazione dalla stessa adottato.<br />
		18.2. Qualora le Parti intendano adire l’Autorità giudiziaria ordinaria, il Foro competente è quello del
		luogo di residenza o di domicilio elettivo del Consumatore, inderogabile ai sensi dell’art. 33, comma 2,
		lett. u) del d.lgs. 206/2005.<br />
		Art. 19<br />
		Legge applicabile e rinvio<br />
		19.1. Il presente contratto è regolato dalla legge italiana.<br />
		19.2. Per quanto qui non espressamente disposto, valgono le norme di legge applicabili ai rapporti e
		alle fattispecie previste nel presente contratto, e in particolar modo l’art. 5 della Convenzione di Roma
		del 1980.<br />
		19.3. Ai sensi dell’art. 60 del d.lgs. 206/2005, viene qui espressamente richiamata la disciplina
		contenuta nella Parte III, Titolo III, Capo I del d.lgs. 206/2005.<br />
		Art. 20<br />
		Clausola finale<br />
		Il presente contratto abroga e sostituisce ogni accordo, intesa, negoziazione, scritto od orale,
		intervenuto in precedenza tra le Parti e concernente l’oggetto di questo contratto.
		</small>
	</div>
  </div>
</div>
