<h4 class="d-flex justify-content-between align-items-center mb-3">
	<span class="text-muted"><em class="fa fa-question-circle"></em> Aiuto</span>
</h4>

Completa subito i dati del tuo profilo con le informazioni della tua azienda. Una volta completato, potrai inviare i documenti per l'approvazione del tuo account.
<br />
<br />
Potrai quindi consultare le richieste che ti sono state inviate per la tua categoria di appartenenza.
<br />
<br />
