
<style type="text/css">
  ul.list-unstyled li { list-style: none; }
</style>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3 class="heading mb-sm-2 mb-2">Abbonamenti</h3>
  <p class="lead">Entra anche tu a far parte del network AVQ sottoscrivendo uno dei seguenti abbonamenti</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-6 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Basic</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">&euro;69,90 <small class="text-muted">/ anno</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>&nbsp;</li>
          <li>Accesso riservato ai professionisti</li>
          <li>50 Crediti gratuiti</li>
          <li>Supporto Email</li>
          <li>Scheda tecnica personale</li>
          <li>&nbsp;</li>
        </ul>
        <a href="<%= new_user_registration_url %>" type="button" class="btn btn-lg btn-block btn-primary">Registrati subito</a>
      </div>
    </div>
    <div class="card mb-6 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Premium</h4>
      </div>
      <div class="card-body text-center">
        <h1 class="card-title pricing-card-title">&euro;399,90 <small class="text-muted">/ anno</small></h1>
        <ul class="list-unstyled mt-3 mb-4 text-nowrap">
          <li>Accesso riservato ai professionisti</li>
          <li><b>Crediti illimitati</b></li>
          <li>Supporto Email e <b>Telefono</b></li>
          <li>Priorità nell'assegnazione delle richieste</li>
          <li><b>Scheda personale pubblica</b></li>
          <li><b>Indicizzazione sui motori di ricerca</b></li>
        </ul>
        <a href="<%= new_user_registration_url %>" type="button" class="btn btn-lg btn-block btn-primary">Registrati subito</a>
      </div>
    </div>
  </div>
</div>
