<!-- testimonials -->
<section class="testimonials" id="testi">
  <div class="layer py-lg-5">
    <div class="container py-5">
      <h3 class="heading mb-sm-5 mb-4">Cosa dicono i nostri Clienti</h3>
      <div class="text-center">
        <div class="row">
          <div class="col-md-6">
            <div class="testi-w3pvt-grid">
              <p>
                <span class="fa fa-quote-left"></span> Portale efficace per me che sono professionista nel settore della sicurezza e videosorveglianza. E’ un servizio moderno al passo con i tempi, facile da usare e mi ha permesso di incrementare il numero dei clienti e valorizzare la qualità del servizio da me offerto
                <span class="fa ml-2 fa-quote-right"></span>
              </p>
            </div>
            <div class="testi-pos">
              <img src="/images/testimonials/testimonial_1.jpg" alt="" class="img-fluid rounded-circle mb-3" />
              <h4> Davide B. </h4>
            </div>
          </div>
          <div class="col-md-6 mt-md-0 mt-3">
            <div class="testi-w3pvt-grid">
              <p>
                <span class="fa fa-quote-left"></span> Sono rimasta soddisfatta dal servizio, la risposta alla mia richiesta è stata rapida ed il professionista era competente e serio
                <span class="fa ml-2 fa-quote-right"></span>
              </p>
            </div>
            <div class="testi-pos">
              <img src="/images/testimonials/testimonial_2.jpg" alt="" class="img-fluid rounded-circle mb-3" />
              <h4> Eleonora P. </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //testimonials -->
