<% content_for :title do %>
Iscrizione Nuovo utente
<% end%>
<p>
  Un nuovo utente si è iscritto al portale AVQ
</p>

<p>
  Utente: <strong><%= @user.fullname %></strong>
  <br />
  Email: <strong><%= @user.email %></strong>
</p>
