<div class="container">
	<!-- page -->
	<div class="container-page py-lg-5 py-3">
		<div class="layer-stretch">
			<div class="layer-wrapper pb-4 pl-2 pr-2">
				<div class="row">
					<div class="col-md-12">
						<h1 class="mb20 capitalize" id="pagetitle">Chi siamo</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 page-contents">
				<!-- contents -->
				<div class="row">
					<section class="subscribe-service">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12 py-2">
									<p class="mb20">
										<strong>AVQ Add Value Quality</strong> opera nel settore commerciale dell’erogazione di servizi offerti dai più qualificati artigiani e professionisti, che sono presenti sul territorio nazionale italiano. 
									</p>
									<p class="mb20">
										<strong>AVQ</strong> intende soddisfare tempestivamente ed efficacemente le esigenze della realt&agrave; economica contemporanea italiana.
									</p>
									<p class="mb20">
										Favorisce l’incontro tra l’offerta di servizi specializzati dei propri Partner e la domanda dei pi&ugrave; esigenti consumatori Italiani
									</p>
									<p class="mb20">
										Stabilisce solide e dinamiche collaborazioni con le piccole medie imprese, avvalendosi di un network di professionisti qualificati.
									</p>
								</div>
							</div>
						</div>

					    <div class="container-page py-lg-5 py-3">
					        <div class="layer-stretch">
					            <div class="layer-wrapper pb-4 pl-2 pr-2">
					                <div class="row">
					                    <div class="col-md-12">
					                        <h1 class="capitalize" id="pagetitle">
					                            Mission Aziendale
					                        </h1>
					                    </div>
					                </div>
					                <div class="row">
					                    <div class="col-md-12">
					                        <p class="mb20"><strong>LAVORIAMO PER DARE MAGGIOR VALORE ALLA QUALITÀ DEI NOSTRI SERVIZI</strong></p>

											<p class="mb20">Il nome della nostra azienda esprime la nostra filosofia e la nostra mission.</p>
											<p class="mb20">Esse ispirano quotidianamente la nostra attività.</p>
											<p class="mb20">Ciò che contraddistingue AVQ rispetto ai competitors presenti attualmente sul mercato è il fornire concretamente ai destinatari dell’offerta servizi di elevata qualità.</p>
											<p class="mb20">Questo è un valore aggiunto, in quanto la nostra ricerca della qualità è costante, ed è una caratteristica ormai inusuale, soprattutto nei servizi simili offerti dai nostri Competitors.</p>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>

					</section>
				</div>
				<!-- // contents -->
			</div>
		</div>
	</div>
	<!-- // page -->
</div>
