<div class="jumbotron jumbotron-fluid">
  <div class="container">
	  <h1 class="mb-4">Registrazione avvenuta correttamente!</h1>
      <p class="lead"><strong><%=@data%></strong></p>
	  <p class="hint-text mt-4"><strong>Clicca sul link contenuto nella mail per accedere al tuo profilo.</strong></p>
  </div>
</div>