<div class="container">
  <div class="container-page py-lg-5 py-3">
    <div class="layer-stretch">
      <div class="layer-wrapper pb-4 pl-2 pr-2">

        <div class="row">
			<%= render 'pages/forms/contact_form' %>
        </div>      

      </div>
    </div>
  </div>
</div>