<h2>Test Page (don't mess with it...)</h2>
<div class="container">
<center style="margin-top: 30px;">
	<ul>
		<li><%= link_to "confirmation", page_show_path(slug: 'confirmation', data: 'stocazzo') %></li>
		<li><%= link_to "change password", edit_user_registration_path %></li>
	</ul>
</center>
</div>