<div style="margin-left: 20px;">
	Invia subito i documenti richiesti per l'attivazione del tuo account sul portale
	<br />
	<br />
	Necessitiamo di ricevere:
	<br />
	<br />
	<ul class="list-group list-group-flush">
		<li class="list-group-item">1. copia della tua carta di identit&agrave;</li>
		<li class="list-group-item">2. copia del tuo codice fiscale</li>
		<li class="list-group-item">3. copia della visura camerale della tua azienda</li>
	</ul>

	<br />
	Trascina i documenti nell'area a sinistra oppure premi al centro nell'area tratteggiata, quindi premi il pulsante "Invia documenti".
	<br />
	<br />
	Un nostro consulente verificherà la documentazione il prima possibile, riceverai una notifica via email non appena provvederemo ad attivare il tuo Account oppure ti contatteremo al numero di telefono che hai specificato per eventuali problemi.
</div>