<div class="text-justify mb-4">
	<em class="fa fa-exclamation-circle"></em> Completa i dati del tuo <strong>Profilo pubblico</strong> con la descrizione della tua attività e le informazioni necessarie per essere contattato. Una volta completata la pagina del tuo <strong>Profilo pubblico</strong> sarà visibile agli utenti ed indicizzata dai motori di ricerca.
</div>