<% if current_user.active %>
  <% if !current_user.subscription.nil? && current_user.subscription.subscription_type == 'premium' && current_user.public_ragionesociale.nil? %>
  <div class="card mb-4">	
    <div class="card-header bg-warning">
      <strong>Aggiorna la tua Pagina</strong>
    </div>
    <div class="card-body text-center">
      <h6 class="mb-2" style="line-height: 22px;">Ora hai a disposizione una<br /><strong>Pagina pubblica</strong> visibile a tutti i nostri clienti!</h6>
      <p class="mb-2"><strong>Clicca sul pulsante</strong> sottostante per personalizzare subito la tua pagina con la descrizione della tua attività ed i tuoi riferimenti per farti contattare!</p>
      <a href="<%= account_public_edit_path %>" class="btn btn-primary btn-block btn-sm mt-2 mb-2">Personalizza la mia pagina!</a>
    </div>
  </div>
  <% end %>
  <% if !current_user.subscription.nil? && current_user.subscription.subscription_type == 'premium' && current_user.public_url %>
  <div class="card mb-4"> 
    <div class="card-header">
      <strong>La tua Pagina</strong>
    </div>
    <div class="card-body text-left">
    <!--
      <div class="d-flex justify-content-between align-items-center">
        <span>Visite ricevute:</span>
        <span class="badge badge-primary badge-pill">122</span>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <span>Popolarità:</span>
        <span class="badge badge-primary badge-pill">18<sup>a</sup></span>
      </div>
    -->
      <div class="mt-2">
        <a href="<%= account_public_path(current_user.public_url) %>" target="_blank">Visualizza pagina</a>
        <%= link_to(account_public_edit_path, class: 'btn ml-2 btn-sm text-dark float-right', title: "Modifica Profilo pubblico", :data => { toggle: 'tooltip'}, style: "background-color: gold;") do %>
        <em class="fa fa-users"></em>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
