<% content_for :title do %>
Cambio password effettuato!
<% end%>

<p>Buongiorno <%= @resource.fullname %>!</p>

<p>Il cambio password è avvenuto correttamente</p>

<% content_for :link do %>
<a href="<%= account_url %>" class="btn-primary">Accedi al Portale</a>
<% end%>

