<% content_for :title do %>
Richiesta di cambio password
<% end%>

<p>Buongiorno <%= @resource.fullname %>!</p>

<p>Eccoti il link per resettare la tua password. Clicca sul pulsante:</p>

<p><%= link_to 'Cambio password', reset_password_url(reset_password_token: @token), class: "btn-primary" %></p>

<p> oppure copia il seguente indirizzo nella barra del tuo browser:</p>

<p><%= reset_password_url(reset_password_token: @token) %></p>

<p>
	<small><em>Se non sei stato tu a richiedere il cambio password, cancella pure questo messaggio</em></small>
	<small><em>(Il tuo account è al sicuro. La tua password non verrà cambiata fino a che non cliccherai sul link riportato sopra)</em></small>
</p>
